{{!-- <div class="container">
  <form action="/productRouter/addProduct" method="POST" enctype="multipart/form-data">
    <input type="file"  name="image" value="">

     <input type="text" name="title" value="title">

    <input type="number"  name=" price"value="price">

    <textarea type="text" name="description" value="description">

    <input type="checkbox"  name="published" value="published">

    <input type="submit" value="Submit">
  </form>
</div> --}}
<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 40%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
 .col-25, input[type=submit] {
    width: 800%;
    margin-top: 0;
  }
}
</style>
</head>
<body>

<h2>Responsive Form</h2>
    <a href="/"> <button> home</button>  </a>

<div class="container">
  <form action="/productRouter/addProduct" method="POST" enctype="multipart/form-data">

  <div class="row">
    <div class="col-25">
      <label for="image">Image</label>
    </div>
    <div class="col-75">
      <input type="file" id="image" name="image" >
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="title">Title</label>
    </div>
    <div class="col-75">
      <input type="text" id="title" name="title" placeholder="title here">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="price">Price</label>
    </div>
    <div class="col-75">
      <input type="number" id="price" name="price" placeholder="price here">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="description">Description</label>
    </div>
    <div class="col-75">
      <textarea id="description" name="description" placeholder="Write something.." style="height:200px"></textarea>
    </div>
  </div>
    <div class="row">
    <div class="col-25">
      <label for="published">published</label>
    </div>
   <div class="col-75">
      <input type="checkbox" id="published" name="published" >
    </div>
  </div>
  <br>
  <div class="row">
    <input type="submit" value="Submit">
  </div>
  </form>
</div>

</body>
</html>

