<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home </h1>
    <a href="/productRouter/addProduct"> <button> add product</button>  </a>
      <a href="/productRouter/allProducts"> <button> product display</button> </a>
            <a href="/test"> <button> test</button> </a>

</body>
</html>