<h1 style="text-align: center;">all products</h1>
    <a href="/productRouter/addProduct"> <button> add product</button>  </a>
    <a href="/"> <button> home</button>  </a>
<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #F4F6F8;
}

img {
  width: 100%;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
}

.btn {
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-style: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}

.btn-primary {
  background-color: #008CBA;
}

.card {
  text-align: center;
  width: 360px;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px rgba(0, 0, 0, 0.13);
  background-color: #fff;
}

.card__image {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px rgba(0, 0, 0, 0.13);
  border: 3px solid #fff;
}

.card__title {
  margin: 0;
}

.card__job {
  color: #6E8192;}
</style>


{{!-- 
  {{#each  products}}
     {{this.title}}
      <img class="card__image" src="{{this.image}}"  >
   

    
  {{/each}} --}}

 {{#each products}}


      <img class="card__image" src="/{{image}}" loading="lazy" alt="server image">
   

    
    <h1 class="card__title">{{this.title}}</h1>
    <p class="card__about">
      {{this.description}}
    </p>
    <button type="button" class="btn btn-primary">View Profile</button>
  {{/each}}
           
