<h1 style="text-align: center;">data test</h1>
    <a href="/productRouter/addProduct"> <button> add product</button>  </a>
    <a href="/"> <button> home</button>  </a>

    <a href="/productRouter/allProducts"> <button> all product</button>  </a>


{{!-- 
  {{#each products}}
 
    <div id="heading" class="">
      <h3>{{this.dataValues.title}}</h3>
      <p>{{this.dataValues.description}}</p>

        <small> <span>{{this.dataValues.price}}</span></small>
   
     
    </div>
  {{/each}} --}}
  <p>{{demo.name}} is {{demo.age}} years old.</p>